*
!.gitignore
!README.md

# ZSH
!.zshrc

# Powerlevel10k
!.p10k.zsh

# Tmux
!.tmux.conf
!.config
.config/*
!.config/tmux
.config/tmux/*
!.config/tmux/tmux-sessions
.config/tmux/tmux-sessions/*
!.config/tmux/tmux-sessions/00_example.conf

# Scripts
!.scripts

